@media (min-width: 768px){
	.pie{
		display: flex;
		justify-content: space-evenly;
	}
	.vinculos-nav{
		font-size: $fontL;
	}
	.format-table{
		font-size: $fontXXL;
	}
	/*index*/
	.row-reverse{
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	}
	.title-index{
		font-size: $fontAC;
	}
	.p-index{
		font-size: $fontXL;
	}
	/*quienes somos*/

	.text-style{
		font-size: $fontQS;
	    margin-bottom: 4rem;
  		margin-top: 5rem;
	}
	.formato-titulo{
		font-size: $fontXXXL;
	}
	.foto-qs{
		margin-top: 5rem;
	}
	.video-ac{
		margin-left: 2rem;
		margin-right: 2rem;
	}
	.img-ac {
    margin-top: 7rem;
    margin-right: 2rem;
	}
	.main-ac{
		margin-top: 2rem;
	}
	.format-table{
	width: 100%;
    height: 100%;
    object-fit: fill;
    margin-left: 0rem;
    margin-right: 0rem;
	}
	/*contacto*/
	.title-map{
		font-size: $fontXXL;
	}
	.titles-contacto{
		font-size: $fontXXL;
	}
	.formato-xl-contactos {
    margin-top: 5rem;
	}
	.row-reverse-xl-contacto{
		display: flex;
		flex-direction: row-reverse;
	}
	.format-map {
    margin-top: 5rem;
	}
	/*reserva*/
	.row-reverse-r{
		display: flex;
		flex-direction: row-reverse;
	}
}


@media (min-width: 992px){
	.vinculos-nav{
		font-size: $fontNav;
	}
	.title-index{
		font-size: $fontTitle;
	}
	.p-index{
		font-size: $fontXXXL;
	}
	/*quienes somos*/
	.flex-xl-qs{
		display: flex;
		flex-direction: row-reverse;
	}
	.img-qs{
		display:flex;
		width: 95%;
		height: 95%;
	}
	/*agenda cultural*/
	.format-table{
		font-size: $fontAC;
	}
	.formato-titulo{
		font-size: $fontTitle;
	}
	.img-ac{
		margin-top: 9rem;
		margin-right: 2rem;
	}
	/*contacto*/
	.title-map{
		font-size: $fontXXXL;
	}
	.titles-contacto{
		font-size: $fontXXXL;
	}
	
	.formato-linea-reserva {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
	}
	.text-reserva{
	}
	.botones-contacto{
		display: flex;
	justify-content: space-evenly;
	}
	.header-r {
    margin-right: 2rem;
    margin-top: 5rem;
	}
	.main-r{
		margin-top: 5rem;
	}
	#titulo-reserva{
		font-size: $fontXXXL;
	}
	.img-error {
    display: flex;
    flex-direction: column;
    justify-content: center;
	}
	.cont-error{
		margin-top: 0rem;
	}
	.errorsubtitle{
		margin-bottom: 0rem;
		font-size: $fontXXXL;
	}
	.errortitle{
		font-size: $fontTitle;
	}
}