//commons//
/*commons*/
*{
	font-family: 'Roboto', 'Verdana', sans-serif;
	padding: 0;
	margin: 0;
	box-sizing: border-box;	
	overflow-x: hidden;

	}

html{
	font-size: 62.5%;
	}
img{
	border-radius: 10px;
}
body{
	background-image: url(../img/fondos/madera2.jpg);
	background-attachment: scroll;
	background-position: center;
	background-repeat: repeat;
	background-size: cover;	
}
iframe{
	border-radius: 10px;
}
//clases generales
.row-reverse{
	display: flex;
	flex-direction: column-reverse;
}
.column{
	flex-direction: column;
}
