@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@700&family=Roboto:wght@300&display=swap');

//vars fonts
$mainFont: 'Roboto', 'Verdana', sans-serif;
$footerFont: sans-serif;

//sizes
	//Nav & footer
$fontM: 1.2rem;
$fontL: 1.5rem;

	//agenda cultural
$fontXL: 2rem;
	//qs
$fontQs: 1.4rem;
	//checkpoints
		
		//768
$fontXXL: 2.5rem;
$fontQS: 1.6rem;
$fontXXXL: 3.5rem;

		//992
$fontNav: 1.8rem;
$fontAC: 3rem;
$fontTitle: 5rem;