/*footer*/
.color-footer {
    color:  map-get($map:$colores, $key: 'footerColor');
    text-align: center;
    text-decoration: underline;
    font-family: $footerFont;
    font-weight: bolder;
    font-size: $fontL;
}
.img-pie{
	display: flex;
	max-height: 100px;
	max-width: 100px;
    border-radius: 0px;
        &:hover{
            transform: scaleX(1.4);
            cursor: pointer;
        }
}
.flex-img-pie{
    display: flex;
    justify-content: center;
    }