<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Río Patio Cultural - Contacto</title>
	<link rel="shortcut icon" href="../img/logos/logo.png">
	<link rel="stylesheet" href="../css/style.css">
</head>
<body class="body-contacto">
	<nav id="nav">
		<a href="../index.html">
		<img id="img-nav" src="../img/logos/logo.png" alt="logo de rio patio cultural">
		</a>
		<ul>
			<li><a href="../index.html">Home</a></li>
			<li><a href="qs.html">Quienes somos</a></li>
			<li><a href="ac.html">Agenda cultural</a></li>
			<li><a href="reservas.html">Reservas</a></li>
			<li><a href="contacto.html">Contacto</a></li>
		</ul>
	</nav>
	<header id="mapa">
			<section class="title-map">
			<h1 id="title-map">Vení a conocernos!</h1>
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3283.5690017746006!2d-58.4301858!3d-34.6150586!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcca43157d2dc9%3A0xab72330513ee4001!2sR%C3%ADo%20de%20Janeiro%2028%2C%20C1405CBB%20C1405CBB%2C%20Buenos%20Aires!5e0!3m2!1ses!2sar!4v1653507551825!5m2!1ses!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
			</section>
	</header>
	<aside id="contactos">
		<div class="orden-redes">
		<H2 class="title-contact">Seguinos en redes!</H2>
		<section  class="orden-botones" id="contact-info">
		<a id="" href="https://www.coderhouse.com/" target="_blank">
			<img id="logo-instagram" src="../img/logos/instagram2.jpg" alt="">
		</a>
		<a href="https://www.clarin.com/" target="_blank">
			<img id="logo-whatsapp" src="../img/logos/whatsapp2.jpg" alt="">
		</a>
		</section>
		<h2 class="title-contact">Dejanos un mensaje</h2>
		<section class="message-center">
				<textarea class="center-textarea" name="mensaje" id="dejanos un mensaje" value="mensj" placeholder="escribir aquí" cols="60" rows="10"></textarea>
				<article class="input-message">
				<input type="reset" value="Borrar">
				<input type="submit" value="Enviar">
				</article>
		</section>
		</div>	
	</aside>
	<main id="video">
		<section>
			<iframe width="560" height="315" src="https://www.youtube.com/embed/ZKl2jIW9F9A" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</section>
	</main>
	<footer class="foter-flex" id="footer">
		<div class="superposicion-links-xl">
		<p class="color-footer">Nuestro Instagram!</p>
		<div class="superposicion-links">
		<a  href="https://www.coderhouse.com/" target="_blank">
			<div class="logo-redes">
			<img src="../img/logos/instagram2.webp" alt="">
		</div>
		</a>
		</div>
		</div>
		<div class="superposicion-links-xl">
		<p class="color-footer">Hablanos por Whathsapp</p>
				<div class="superposicion-links">
		<a  href="https://www.clarin.com/" target="_blank">
			<div class="logo-redes">
			<img src="../img/logos/whatsapp2.jpg" alt="">
			</div>
		</a>
		</div>
		</div>
</footer>
</body>
</html>