<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Río Patio Cultural - Quienes Somos</title>
	<link rel="shortcut icon" href="../img/logos/logo.png">
	<link rel="stylesheet" href="../css/style.css">
</head>
<body>
	<div class="body-qs" >
	<nav id="nav">
		<a href="../index.html">
		<img id="img-nav" src="../img/logos/logo.png" alt="logo de rio patio cultural">
		</a>
		<ul>
			<li><a href="../index.html">Home</a></li>
			<li><a href="qs.html">Quienes Somos</a></li>
			<li><a href="ac.html">Agenda Cultural</a></li>
			<li><a href="reservas.html">Reservas</a></li>
			<li><a href="contacto.html">Contacto</a></li>
		</ul>
	</nav>
	<header id="header-qs">
		<div ><img class="photo-format" src="../img/paginas/publico.png" alt="Foto de público"></div>
	</header>
	<main  id="main-qs" >
		<div class="text-style">
		<h1 id="formato-titulo">Quienes Somos</h1>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing, elit. Mollitia, molestias voluptatem ut corrupti perspiciatis doloribus expedita unde, consequuntur doloremque accusantium excepturi laudantium perferendis, iure iste ipsum facere, fugiat? Explicabo, odit. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione recusandae saepe laborum doloribus libero fugit, praesentium hic eaque possimus eveniet suscipit nisi error repudiandae accusamus consequuntur, culpa, numquam facilis iste.</p>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In eius aliquid itaque nulla id. Atque possimus asperiores autem rerum? Veritatis reiciendis ea, provident consequatur omnis? Rem et eaque nisi, saepe?Lorem ipsum dolor, sit, amet consectetur adipisicing elit. Possimus nesciunt exercitationem ducimus impedit? Sapiente obcaecati explicabo perferendis minus assumenda odit modi ex nam alias aut consequatur necessitatibus harum at, iusto.</p>
		</div>
	<div class="center-video">
	<iframe width="560" height="315" src="https://www.youtube.com/embed/tRv1el5fyWw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</div>
	</main>
	</div>
	<footer class="foter-flex" id="footer">
		<div class="superposicion-links-xl">
		<p class="color-footer">Nuestro Instagram!</p>
		<div class="superposicion-links">
		<a  href="https://www.coderhouse.com/" target="_blank">
			<div class="logo-redes">
			<img src="../img/logos/instagram2.webp" alt="">
		</div>
		</a>
		</div>
		</div>
		<div class="superposicion-links-xl">
		<p class="color-footer">Hablanos por Whathsapp</p>
				<div class="superposicion-links">
		<a  href="https://www.clarin.com/" target="_blank">
			<div class="logo-redes">
			<img src="../img/logos/whatsapp2.jpg" alt="">
			</div>
		</a>
		</div>
		</div>
	</footer>
</div>
</body>
</html>