<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
            <!-- metas seo -->
    <meta name="description" content="Reservá tu mesa, sacá entradas para los eventos, vení a festejar tu cumpleaños!!">
    <meta name="author" content="Juan Schnabel">
    <meta name="keywords" content="Cerveza artesanal, Birra, Fiestas, 	Caballito, caba, shows, eventos, bar, comidas, reservas, mesas, cena">
    <meta name="robots" content="index, follow">

	<link rel="shortcut icon" href="../img/logos/logo.webp">
    <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
   <!-- Bootstrap CSS -->
   <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
   <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
   <link href="//cdn.jsdelivr.net/npm/@sweetalert2/theme-minimal@4/minimal.css" rel="stylesheet">
   <script src="//cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/luxon@2.3.0/build/global/luxon.min.js"></script>
   <link rel="stylesheet" href="../css/style.css">
	<link rel="stylesheet" href="../css/animate.css">
    <title>Río Patio Cultural - Reservas</title>
  </head>
  <body class="body-general">
  	<!-- inicia nav -->
  	<nav class="navbar navbar-expand-md nav-color sticky-top">
  		<div class="container-fluid">
    		<a class="navbar-brand img-nav" href="../index.html">
    			<img src="../img/logos/logo.webp" alt="logo de rio patio cultural">
    		</a>
    		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    			<a href="#" class="format-toggler">Menu</a>
		    </button>
   		 <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
      		<div class="navbar-nav ms-auto mb-2 mb-lg-0">
        		<a class="nav-link active vinculos-nav" aria-current="page" href="../index.html">Home</a>
        		<a class="nav-link active vinculos-nav" aria-current="page" href="qs.html">Quienes Somos</a>
        		<a class="nav-link active vinculos-nav" aria-current="page" href="ac.html">Agenda Cultural</a>
        		<a class="nav-link active vinculos-nav" aria-current="page" href="reservas.html">Reservas</a>
        		<a class="nav-link active vinculos-nav" aria-current="page" href="contacto.html">Contacto</a>
     		 </div>
   		 </div>
 		 </div>
	</nav>
  	<!-- termina nav -->
  <div class="row row-reverse-r align-top mt-5">
	  <header class="py-3 px-4 col-xs-12 col-md-5 ">
		<div class="" id="reservasCreadas"></div>
			<img class="img-fluid rounded mx-auto d-block" src="../img/paginas/reservas2-comp.webp" alt="brindando con sol y cerveza">
		</header>
  	<main class="col-md-6 py-3 px-4">
  		<div class="">
  			<div class="wow fadeInLeftBig titulo-reserva" id="div-reserva"><h1>Realizá tu reserva!</h1></div>
  			<form class="align-items-center formato-tabla wow fadeInLeftBig" id="form">
				<div class="row mb-3 mesa-reserva"><legend class="">Datos personales</legend></div>
				<!-- INICIA DATOS PERSONALES -->
				<div class="column col-md-12 align-items-center">
					<div class="column col-9 ms-2">
						<label for="exampleFormControlTextarea1" class="form-label ms-2 fs-5">Nombre</label>
						<textarea class="form-control" id="name" rows="1"></textarea>
				 	</div>
					 <div class="mt-2 column col-9 ms-2">
						<label for="phone" class="form-label ms-2 fs-5">Teléfono</label>
						<textarea class="form-control" id="phone" rows="1"></textarea>
				 	</div>
					<div class="mt-2">
						<label for="mail" class="form-label row ms-4 fs-5">Correo electrónico</label>
						<div class="column col-9 ms-2"><input type="email" class="form-control align-items-center" id="mail" aria-describedby="emailHelp"></div>
						<div id="emailHelp" class="form-text ms-2">No compartiremos su dirección de correo electrónico con nadie más.</div>
					</div>
				</div>
				<!-- TERMINA DATOS PERSONALES -->
				<!-- INICIA DATOS DE LA RESERVA -->
				<div class="row mb-3 mesa-reserva"><legend class="">Datos de la reserva</legend></div>
  				<div class="column col-9 ms-2">
					<div>
  							<section class="">
		    					<label for="fecha" class="fs-5">Fecha</label><br>
								<input type="date" id="date" value=""  class="col-6 fs-5">
							</section>
							<section class="">
								<label for="hora" class="fs-5">Hora</label><br>
								<select name="hora" id="hour" value="hora"class="col-6 fs-5"	>
									<option value="20">20</option>
									<option value="21">21</option>
									<option value="22">22</option>
								</select>
							</section>
					</div>
				</div>
					<div class="mt-2 column col-9 ms-2">
							<section class="fs-5">
							<label for="personas">Cantidad de Personas</label><br>
							<input type="number" id="persons" value="" placeholder="10" class="col-6 fs-5">
							</section>
					</div>
				  <fieldset class="row mb-3">
				    <div class="mesa-reserva"><legend class="">Ubicación de la Mesa</legend></div>
				    <div class="col-sm-12 formato-radio">
				    	<div class="form-check">
					        <input class="form-check-input" type="radio" name="AoB" id="planta-baja" value="planta baja">
					        <label class="form-check-label" for="planta-baja">Planta Baja</label>
						</div>
						<div class="form-check">
					        <input class="form-check-input" type="radio" name="AoB" id="planta-alta" value="planta alta">
					        <label class="form-check-label" for="planta-alta">Planta Alta</label>
						</div>
						<div class="form-check">
					        <input class="form-check-input" type="radio" name="AdoAf" id="adentro" value="adentro">
					        <label class="form-check-label" for="adentro">Adentro</label>
				    	</div>
				    	<div class="form-check">
					        <input class="form-check-input" type="radio" name="AdoAf" id="afuera" value="afuera">
					        <label class="form-check-label" for="afuera">Afuera</label>
				    	</div>
				   		<!-- <div class="mesa-reserva"><legend>Aclaraciones</legend></div>
								<div class="text-reserva col-lg-12"><textarea name="Aclaraciones" id="Aclaraciones" value="aclaracion" placeholder="Mesa redonda" cols="30" rows="10"></textarea></div> -->
							<article class="botones-contacto">
								<button type="submit" id="enviar" class="btn btn-primary">Enviar</button>
								<button type="reset" class="btn btn-primary">Borrar</button>
							</article>
					</fieldset>
				</form>
  			</div>
  		<section class="video-contacto wow fadeInDownBig pt-5">
				<iframe width="560" height="315" src="https://www.youtube.com/embed/ohdwQdz0WKU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</section>
  	</main>
	</div>
	<footer class="text-center">
	  <!-- Grid container -->
	  <div class="container p-4 pb-0">
    <!-- Section: Social media -->
    		<section class="mb-4 pie">
		      <!-- Instagram -->
		      	<div>
		            <p class="color-footer">Nuestro Instagram!</p>
		      		<a class=" flex-img-pie m-1" target="_blank"
				        href="https://www.instagram.com/rio.patiocultural/"
				        role="button">
				        	<img class="img-pie" id="ig" src="../img/logos/instagram.svg" alt="logo de instagram">
				        <i class="fab fa-instagram"></i>
		    		</a>
		    	</div>
		      <!-- whatsapp -->.
		      <div>
		      <p class="color-footer">Hablanos por Whathsapp</p>
		      	<a class=" flex-img-pie m-1 " target="_blank"
		        href="https://web.whatsapp.com/"
		        role="button">
			        <img class="img-pie" src="../img/logos/whatsapp.svg" alt="logo de Whathsapp">
			        <i class="fab fa-whatsapp-in"></i>
			    </a>
		      </div>
		   </section>
		   <!-- Section: Social media -->
	  </div>
	  <!-- Grid container -->
	</footer>
    <!--JavaScript-->
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
	<script src="../js/reservas.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="../js/wow.min.js"></script>
		<script>new WOW().init();</script>
  </body>
</html>